**/examples
**/non-vehicles
**/vehicles
**/test_images
project_video.mp4
test_video.mp4
non-vehicles.zip
vehicles.zip
writeup_template.md
README.md
**/data.p
**/classifier.p
**/train_data.p
**/2nd_possibly_overf_classifier.p
**/all_features_data.p
**/bbox_pickle.p
**/overfittet_classifier.p
**/*.pyc
